<%- include('../partials/header', { title: 'Change Password' }) %>
<h2>Change Password</h2>
<form action="/auth/change-password" method="POST">
  <label for="oldPassword">Old Password:</label>
  <input type="password" name="oldPassword" id="oldPassword" required>
  <label for="newPassword">New Password:</label>
  <input type="password" name="newPassword" id="newPassword" required>
  <button type="submit">Change Password</button>
</form>
<%- include('../partials/footer') %>
