<%- include('../partials/header', { title: 'Change Password' }) %>

<div class="container">
  <h2 class="form-title">Change Password</h2>
  <form action="/auth/change-password" method="POST" class="form-card">
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <input type="password" name="oldPassword" id="oldPassword" required>
    </div>
    
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" name="newPassword" id="newPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>

<%- include('../partials/footer') %>
